<div class="main-div">
<mat-card style="margin-bottom: 20px">
  <mat-card-content>
    <form (ngSubmit)="createThread(); f.reset()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input name="author" matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea
          name="message"
          ngModel
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="5"
          required
          #message="ngModel"
        ></textarea>
        <mat-error *ngIf="message.hasError('required')">
          Введите сообщение!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input name="image" ngModel></app-file-input>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >Save</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>
