<div class="main-div">
<div fxLayout="column" fxLayoutGap="16px grid">
  <div
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.lt-lg="33%"
    fxFlex="25%"
    *ngFor="let thread of threads"
  >
    <mat-card class="example-card" style="border: 1px solid gray; max-width: 800px; padding: 5px 0 0;background-color: lightgray; margin-left: 10px;">
      <mat-card-content>
        <div fxLayout="row" fxLayoutGap="5px grid">
        <input type="checkbox"><label>{{ thread.author | author }}</label>
        <p>{{ thread.datetime }}</p>
        <p style="color: indianred">{{ thread.id }}</p>
        </div>
        <div fxLayout="row" fxLayoutGap="10px grid">
          <img
            [src]="'http://localhost:8000' + '/uploads/' + thread.image"
            [alt]="'Photo of ' + (thread.author | author)"
            onerror="this.style.display='none'"
            mat-card-image
            class="image"
            style="max-width: 200px; margin-left: 25px; margin-top: 15px"
          />
        <p class="card-text">
          {{ thread.message }}
        </p>
        </div>
        <p class="answers"><em>Ответы:</em><label style="color: orangered; margin-left: 5px; font-size: 12px">0</label></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
