.card-text
  margin-left: 50px
  margin-right: 50px
  font-size: 14px
  padding-bottom: 20px
  padding-top: 10px

.answers
  font-size: 11px
  padding-left: 5px

.main-div
  display: flex
  justify-content: center
  align-items: center
