<hr style="border: none; margin-top: 10px; height: 1px; background-color: lightgray; color: lightgray;">
<div fxLayout="row" style="margin-top: 15px">
  <p style="margin-left: 5px">[<p class="text">Назад</p>] [<p class="text">Обновить тред</p>] [<p class="text">Вниз</p>] [<p class="text">Каталог</p>]
</div>
<hr style="border: none; height: 1px; background-color: lightgray; color: lightgray;">
<app-threads></app-threads>
<hr style="border: none; margin-top: 10px; height: 1px; background-color: lightgray; color: lightgray;">
<app-thread-form></app-thread-form>
